{% extends "base.html" %}

	{% block content %}
		<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li>
							<a href="/">Главная</a> <span class="divider">/</span>
						</li>
						<li class="active">
							Каталог
						</li>
					</ul>
					<div class="row">
						<div class="col-md-12">
							<a href="/soft_toys"><img alt="Bootstrap Image Preview" src="http://cs633925.vk.me/v633925635/24946/ywMRjHGkxQE.jpg" /></a>
							<a href="/games"><img alt="Bootstrap Image Preview" src="http://cs633925.vk.me/v633925635/24931/EMyfqa_sCjc.jpg" /></a>
						</div>
					</div>
				</div>
			<br>
		</div>
	{% endblock %}