{% extends "base.html" %}

	{% block content %}
			<div class="row" id="gift">
				<ul class="breadcrumb">
						<li>
							<a href="/">Главная</a> <span class="divider">/</span>
						</li>
						<li class="active">
							Личный кабинет
						</li>
					</ul>
				<div class="col-md-2">
				{% if x %}
					<a class='btn btn-primary' href='/accounts/logout'>Выход</a>
				{% else %}
					<a class='btn btn-primary' href='/login/vk-oauth2/'>Войти через VK</a>
				{% endif %}
				</div>
			</div>
	{% endblock %}