{% extends "base.html" %}

	{% block content %}
			<div class="row">
				<div class="col-md-4">
				  <ul class="menu">
					<div class="panel panel-default">
						<li><div class="panel-footer">
							<a href="">Мягкие игрушки</a>
						</div></li>
    					<li><div class="panel-footer">
						<a href="">Развивающие игры и хобби</a>
						</div></li>
					</div>
					</ul>
				</div>
				<div class="col-md-8">
					<div class="carousel slide" id="carousel-833011">
						<ol class="carousel-indicators">
							<li class="active" data-slide-to="0" data-target="#carousel-833011">
							</li>
							<li data-slide-to="1" data-target="#carousel-833011">
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img alt="Carousel Bootstrap First" src="http://cs633924.vk.me/v633924635/31e7b/QvKfLzLJlFE.jpg">
								<div class="carousel-caption">
									<h4>
										
									</h4>
									<p>
										
									</p>
								</div>
							</div>
							<div class="item">
								<img alt="Carousel Bootstrap Second" src="http://cs633924.vk.me/v633924635/31e85/RPQzlpmJVvA.jpg">
								<div class="carousel-caption">
									<h4>
										
									</h4>
									<p>
										
									</p>
								</div>
							</div>
						</div> <a class="left carousel-control" href="#carousel-833011" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-833011" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
			<div class="row" id="margin-top">
				<div class="col-md-4">
					<div class="thumbnail"><a href="">
						<div class="caption">
							<h4>
								30/04/16 - Новые куколки Zapf Creation!<br><br>
							</h4>
							<p>My little Baby Born с переноской в комплекте, музыкальная куколка и разная одежда!<br><br>
							</p>
						</div>
					</a></div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail"><a href="">
						<div class="caption">
							<h4>
								21/04/16 - Новые куклы Шарлотта Земляничка уже в продаже!
							</h4>
							<p>Куклы Strawberry Shortcake - новинки 2016 года по доброму мультфильму!<br><br>
							</p>
						</div>
					</a></div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail"><a href="">
						<div class="caption">
							<h4>
								19/04/16 - Новые луки Zing - теперь и с подсветкой!
							</h4>
							<p>Новые луки Zing - теперь и с подсветкой!<br>
							Новинки Зинг - большой лук с подсветкой, свистящие стрелы и многое другое!
							</p>
						</div>
					</a></div>
				</div>
			</div>
	{% endblock %}