{% extends "base.html" %}

	{% block content %}
			<div class="row" id="gift">
				<ul class="breadcrumb">
					<li>
						<a href="#">Главная</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Каталог</a> <span class="divider">/</span>
					</li>
					<li class="active">
						{{item.title}}
					</li>
				</ul>
				<div class="col-md-4" id="gift">
					<img class="imgtoy" src="{{item.img}}" />
				</div>
				<div class="col-md-4" id="gift">
					<p>
						<b>Описание:</b><br>{{item.title}}<br>{{item.describe}}<br><br><b>Характеристики:</b><br>Рекомендуемый возраст – {% for i in item.ages %}{{i}}; {% endfor %}<br>Пол: {% for i in item.sex %}{{i}}; {% endfor %}<br>{{item.more}}<br>{{item.title}}
					</p>
				</div>
				<div class="col-md-4" id="gift">
					<h4>{{item.title}}<br><b>{{item.price}}P</b></h4>
					<p>Количество: 1 <a href="#" class="addtocart"> <button id="item{{ item.id }}" class="add">Добавить в корзину <img class="cart_add1" src="http://cs604529.vk.me/v604529635/1d0b/MStjkg_iHqI.jpg"></button></a></p>
					<p></p>
					<p class=rightgreen>
						<i>+ Товар есть в наличии<i>
					</p>
				</div>
			</div>
	{% endblock %}
